@mixin FontFamilyGilroyBlack {
	font-family: Gilroy, sans-serif;
	font-weight: 900;
	line-height: 140%;
}

@mixin FontFamilyGilroyExtrabold {
	font-family: Gilroy, sans-serif;
	font-weight: 800;
	line-height: 140%;
}
@mixin FontFamilyGilroyBold {
	font-family: Gilroy, sans-serif;
	font-weight: 700;
	line-height: 140%;
}

@mixin FontFamilyGilroySemibold {
	font-family: Gilroy, sans-serif;
	font-weight: 600;
	line-height: 140%;
}

@mixin FontFamilyGilroyMedium {
	font-family: Gilroy, sans-serif;
	font-weight: 500;
	line-height: 140%;
}

@mixin FontFamilyGilroyRegular {
	font-family: Gilroy, sans-serif;
	font-weight: 400;
	line-height: 140%;
}

@mixin FontFamilyGilroyLight {
	font-family: Gilroy, sans-serif;
	font-weight: 300;
	line-height: 140%;
}

@mixin FontFamilyGilroyUltralight {
	font-family: Gilroy, sans-serif;
	font-weight: 200;
	line-height: 140%;
}

@mixin FontFamilyGilroyThin {
	font-family: Gilroy, sans-serif;
	font-weight: 100;
	line-height: 140%;
}

@mixin FontFamilyTttravelsBlack {
	font-family: 'TT Travels', sans-serif;
	font-weight: 900;
	line-height: 140%;
}

@mixin FontFamilyTttravelsExtrabold {
	font-family: 'TT Travels', sans-serif;
	font-weight: 800;
	line-height: 140%;
}

@mixin FontFamilyTttravelsBold {
	font-family: 'TT Travels', sans-serif;
	font-weight: 700;
	line-height: 140%;
}

@mixin FontFamilyTttravelsBoldLight {
	font-family: 'TT Travels', sans-serif;
	font-weight: 600;
	line-height: 140%;
}


@mixin FontFamilyTttravelsMedium {
	font-family: 'TT Travels', sans-serif;
	font-weight: 500;
	line-height: 140%;
}

@mixin FontFamilyTttravelsRegular {
	font-family: 'TT Travels', sans-serif;
	font-weight: 400;
	line-height: 140%;
}

@mixin FontFamilyTttravelsLight {
	font-family: 'TT Travels', sans-serif;
	font-weight: 300;
	line-height: 140%;
}

@mixin FontFamilyTttravelsExtralight {
	font-family: 'TT Travels', sans-serif;
	font-weight: 200;
	line-height: 140%;
}

@mixin FontFamilyTttravelsThin {
	font-family: 'TT Travels', sans-serif;
	font-weight: 100;
	line-height: 140%;
}
